# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
.pytest_cache/
.mypy_cache/

# Virtual envs
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Env
.env
.env.*

# Exports
exports/*
!exports/.gitkeep

# Misc
*.log